.submission-wrapper{
    font-weight: 600;
    color: #a6cdc4;
    height: 100vh;
    padding-top: 200px;
    h1{
        text-align: center;
    }
}

.filter-wrapper{
    display: flex;
    justify-content: center;
    gap: 20px;
}